body {
    margin: 0px;
}



#main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
}




#chat-box{
    position: relative;
    height: 100%;
}

#client-box{
    height: 100%;
}

#user-name{
    position: absolute;
    top: 0px;
    left: 0px;
    }

#unit{
        position: absolute;
        top: 0px;
        left: 0px;
    }

#count {

  width: 0%;
  height: 50%;
  position:absolute;
  top: 25%;
  right: 0px;
  background: #fffceb;
  color: #e28327;
  border-color: rgba(226,131,39,.3);
}
#bagetext {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

#this-user-name {
    position: absolute;
    top: 0px;
    right: 0px;
}

#message-form{
    position: absolute;
    bottom: 10px;
}

#messages {
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 95%;
}

#clients-list{
    padding: 10px;
    overflow: auto;
    height: 95%;
    position: relative;
    left: 5px;
}

#notready-list{
    padding: 0px;
    overflow-x:hidden;
    overflow-y: hidden;
    max-height: 80%;
    width: 100%;
    position:relative;
    left: 0%;
    transition: height .4s;
}

#sborka{
    padding: 0px;
    overflow-x:hidden;
    overflow-y: auto;
    position:relative;
    width: 100%;
    left: 0%;
    height: 100%;
}

#ready-list{
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 80%;
    width: 100%;
    position:relative;
    left: 0%;
    transition: .1s;
}

#panelTeaser{

  width: 100%;
  position:relative;
  left: 0%;
}

#unit {

  font-size: 20px;
}

b {
  font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 60px; /* Размер шрифта в пунктах */


}

#position {
  overflow-x: hidden;
}

a {
  position:relative;
  left: 0px;
  transition: .4s;

}
span {
  white-space: nowrap;
  position:relative;
  left: 0px;
  margin-left: 0px;
  padding-left:0px;


}
a.uk-padding-vertical-remove {
  height: 0px;
}

.list-of-products {
  position: absolute;
  padding-top: 5px;
  margin-left: 0px;
  left:  2px;
  top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90%;
  width: 100%;

}

.bg-overflow {
background-image: url(../data/double-down.png);
background-repeat: no-repeat;
background-position: center;

}

.appCode{
    position: relative;
    top: 93%;
    left: 65%;
    color: #ffbc00
}
.uk-panel-box-primary {

  min-height: 0px;
}

.uk-panel-box-success {
    background: #f2fae3;
    color: #659f13;
    border-color: rgba(101,159,19,.3);
}

.uk-panel-box-warning{
    background: #fffceb;
    color: #e28327;
    border-color: rgba(226,131,39,.3);
}



.uk-panel-box-hidden-right {

    height: 100px;
    background: #d2f997;
    color: #659f13;
    padding: 15px;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-left: 3%;
    width: 95%;
}

.uk-panel-box-hidden-left{
    height: 100px;
    width: 46%;
    margin-bottom: 1%;
    margin-right: 0%;
    margin-left: 3%;
    background: #bffefb;
    color: #2d7091;
    padding: 15px;
}

.uk-panel-box-sborka {

    background: #fffceb;
    color: #543E00;
    border-color: rgba(226,131,39,.3);
    height: 32%;



}
.uk-panel-box-sborkasmall {

    background: #fff9d4;
    color: black;
    border-color: rgba(226,131,39,.3);
    height: 50%;



}

.ready-img {

    border-bottom-width:6px;
    border-bottom-color: #659f13;
    border-bottom-style: solid;

}
.notready-img {

    border-bottom-width: 6px;
    border-bottom-color: #2d7091;
    border-bottom-style: solid;

}
.uk-panel-teaser-sbor {
  background: #FFBC00;
  color: black;
  border-color: rgba(226,131,39,.3);
  height: 20px;
  margin-left: 0px;
  padding-left: 0px;
}

.uk-panel-box-sborka-ready {

  background: #99ff33;
  color: #659f13;
  border-color: rgba(101,159,19,.3);
    height: 32%;


}

.uk-panel-box-sborkasmall-ready {

  background: #a6e9d7;
  color: black;
  border-color: rgba(101,159,19,.3);
    height: 50%;


}

.uk-panel-box-sborkasmall-readydost {

  background: #c6df5f;
  color: black;
  border-color: rgba(101,159,19,.3);
    height: 50%;


}

.uk-panel-box-sborka-payed {

  background: #99ffff;
  color: #003647;
  border-color: rgba(101,159,19,.3);
    height: 32%;


}

.uk-panel-box-sborkasmall-payed {

  background: #ffc0d1;
  color: black;
  border-color: rgba(101,159,19,.3);
    height: 50%;


}

.uk-panel-box-sborkasmall-dost {

  background: #ffd000;
  color: black;
  border-color: rgba(101,159,19,.3);
    height: 50%;


}

p {
font-weight:bold;
white-space: nowrap;
}

p.error{
	text-decoration: line-through;
  color: #999999;
}

p.line{
	line-height: 0.5;
}

p.size1{
  font-size: 14px;
	line-height: 0.5;
}

p.size2{
  font-size: 16px;
	line-height: 0.5;
}

.wrapper {
  width: 100%;
  height: 100%;
  transition: background 1s;

}
.uk-grid {
    margin-left: 0;
    padding-left: 0px;
}
.uk-grid>* {
    padding-left: 0px;
}
.uk-panel-space {
    margin-left: 0%;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 0px;
}