<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>РБ ЭО 3</title>
    <link rel="stylesheet" href="app/distr/css/uikit.min.css" />
    <link rel="stylesheet" href="app/style/css.css" />
    <script src="app/distr/vue/vue.js"></script>
    <script src="app/distr/js/axios.min.js"></script>

</head>
<body>

<div id="app" uk-grid>
<div :class="mainClass" uk-grid>

    <div v-for="order in ordersList" class="uk-height-1-2 block" v-if="checkStation(order) && (flag === order.flag || flag == 'ADMIN' || flag == 'admin')" @click="nextStatus(order)" @dblclick="alertDelete(order)">
        <div class="js-wrapper uk-height-1-1">

            <div class="uk-height-10 block-header" uk-grid>
                <div class="uk-width-1-5 nomp uk-text-center">{{order.order}}</div>
                <div class="uk-width-3-5 nomp uk-text-center">{{type(order.checkType)}}</div>
                <div class="uk-width-1-5 nomp uk-text-center">{{thistime(order)}}</div>
            </div>


            <div :class="thisorderclass(order)" uk-overflow-auto="selContainer: .uk-height-medium; selContent: .js-wrapper">
                <div v-for="position in order.positions" v-if="station == position.station || station == 0">

                <div v-if="position.count != 0" class="normal-text">
                    <div>{{position.count}} x {{onlyName(position.name)}}</div>
                    <div class="mods" v-for="mod in position.mods">{{mod}}</div>
                </div>
                <div v-if="position.count == 0" class="deleted-text">
                    <div>{{position.count}} x {{onlyName(position.name)}}</div>
                    <div class="mods" v-for="mod in position.mods">{{mod}}</div>
                </div>

                    </div>
                <div  class="uk-position-bottom-center uk-text-center" v-if="order.code && order.ready">Пинкод: {{order.code}}</div>
                <div  class="uk-position-bottom-center uk-text-center" v-if="order.extId">Заказ: {{order.extId}}</div>
            </div>




        </div>
    </div>

</div>
    <div class="uk-child-width-1-1 uk-height-1-1 uk-grid-collapse uk-width-1-6" v-if="station == 4">
        <div class="block js-wrapper uk-height-1-3 uk-text-center uk-inline">
            <p><span @click="pizzulaPlus('Кусочек Пепперони', -1)">-</span> Пеперони <span @click="pizzulaPlus('Кусочек Пепперони', +1)">+</span></p>
            <p><progress  class="uk-progress uk-progress-1" :value="pizzules.pepper.count" max="6"></progress></p>
            <p class="text-picculya ">{{pizzules.pepper.count}}</p>
            <p class="uk-position-bottom-center"><button class="uk-button uk-button-primary uk-button-large" @click="pizzulaPlus('Кусочек Пепперони')">Добавить!</button></p>
        </div>
        <div class="block js-wrapper uk-height-1-3 uk-text-center uk-inline">
            <p><span @click="pizzulaPlus('Кусочек Класс', -1)">-</span> Классика <span @click="pizzulaPlus('Кусочек Класс', +1)">+</span></p>
            <p><progress  class="uk-progress uk-progress-2" :value="pizzules.classic.count" max="6"></progress></p>
            <p class="text-picculya ">{{pizzules.classic.count}}</p>
            <p class="uk-position-bottom-center"><button class="uk-button uk-button-primary uk-button-large" @click="pizzulaPlus('Кусочек Класс')" >Добавить!</button></p>
        </div>
        <div class="block js-wrapper uk-height-1-3 uk-text-center uk-inline">
            <p><span @click="pizzulaPlus('Кусочек Сырной', -1)">-</span> Сырная курочка <span @click="pizzulaPlus('Кусочек Сырной', +1)">+</span></p>
            <p><progress  class="uk-progress uk-progress-3" :value="pizzules.sirkur.count" max="6"></progress></p>
            <p class="text-picculya ">{{pizzules.sirkur.count}}</p>
            <p class="uk-position-bottom-center"><button class="uk-button uk-button-primary uk-button-large" @click="pizzulaPlus('Кусочек Сырной')">Добавить!</button></p>
        </div>


    </div>

</div>

<script src="app/skdn.js"></script>
<script src="app/query.js"></script>
<script src="/socket.io.js"></script>
<script src="/socket.io.js"></script>
<script src="/jquery.js"></script>
<script src="app/distr/js/uikit.js"></script>
<script src="/confIo.js"></script>
<script src="app/commonVars.js"></script>
<script src="app/scripts.js"></script>
<script src="app/DTO.js"></script>
<script src="app/io.js"></script>
<script src="app/services.js"></script>

</body>
</html>